<div class="row">
  <nav style="width:100%;"class="navbar navbar-light">
      <a  class="navbar-brand" href="#" style="color:white; ">
        <img style="margin-left:70px;" class=" avatar2 d-inline-block align-top" src="./../../../assets/eu.png" alt="">
      </a>
      <form class="form-inline">
        <input class="form-control mr-sm-2 pesquisa" type="search" placeholder="">
      </form>
      <ul class="nav  nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link"  routerLink = "/inicio" (click)="tabChoose('')">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/clientes" (click)="tabChoose('clientes')">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/prestadores" (click)="tabChoose('prestadores')">Prestadores</a>
        </li>
      </ul>
      <span class="navbar-brand" style="color:white;">
        Olá, Usuário
        <img style="margin-right:90px;" class="avatar d-inline-block align-top" src="./../../../assets/avatar.png" width="30" height="30" alt="">
      </span>
  </nav>
</div>
<div style="position: absolute; margin-left:1035px;margin-top:40px;" class="row">
    <div class="tasks">
      <div style="overflow:auto;"></div>
        <h1><span class="btn btn-primary text-center" style="width: 100px; height: 40px; border-radius:50px;">Atividade</span></h1>
        <div class="semBorda card" style="margin-top:40px;">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Adicionou Prestador Josias</h6>
              <p class="card-text" style="font-size:12px; text-align: right;">21 de Janeiro às 22:00 Horas</p>
            </div>
        </div>
        <div class="semBorda card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Adicionou Cliente Marlos</h6>
              <p class="card-text" style="font-size:12px; text-align: right;">20 de Janeiro às 12:00 Horas</p>
            </div>
        </div>
        <div class="semBorda card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Adicionou Cliente Adalto</h6>
              <p class="card-text" style="font-size:12px; text-align: right;">28 de Janeiro às 13:00 Horas</p>
            </div>
        </div>
        <div class="semBorda card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Adicionou Prestador Elias</h6>
              <p class="card-text" style="font-size:12px; text-align: right;">25 de Janeiro às 21:00 Horas</p>
            </div>
        </div>
        <div class="semBorda card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Adicionou Cliente Marjorie</h6>
              <p class="card-text" style="font-size:12px; text-align: right;">23 de Janeiro às 11:00 Horas</p>
            </div>
        </div>
        <div class="semBorda1 card">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Adicionou Prestador Lissandra</h6>
              <p class="card-text" style="font-size:12px; text-align: right;">24 de Janeiro às 17:00 Horas</p>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

  
  

